body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


.overdue-task{
  background-color: red;
}

.nearing-deadline{
  background-color: yellow;
}

.add-task-button{
  text-align: center;
  border: 4px solid blue;
}

.btn-delete-task{
  border: 4px solid red;
}